# cache directories
Thumbs.db
*.DS_Store
*.empty

#pycharm project files
.idea

.settings
._*
*.swp
*.pyc
*.bak


# sass cache files
*.sass-cache

# mac deployment helpers
switch
index

# runtime and cache directories
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so


# Distribution / packaging
.Python
env/
bin/
develop-eggs/
eggs/
lib/
lib64/
parts/
var/
*.egg-info/
.installed.cfg
*.egg


# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml



# Django stuff:
*.log
*.log.*
*.log~
*.pot



#node files
node_modules

#bower files
bower_components
.vagrant/
*.retry


*.swp
*.swo
*~

